.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  padding: 0 12px;
  border-radius: 40px;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  background-color: rgba(var(--netural7RGB), 0.8);
  color: var(--white);
}
