/* layouts */
.container {
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
  white-space: nowrap;
  user-select: none;

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}
.wrapper {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

/* styles */
.primary {
  color: var(--white);
  background: linear-gradient(88.37deg, var(--primary) -3.68%, var(--primaryLight) 103.37%);
  box-shadow: 0px 6px 23px var(--primaryShadow);
  border-radius: 40px;
}
.outline {
  color: var(--primary);
  background: var(--white);
  box-shadow: 0px 2px 0px rgba(var(--blackRGB), 0.043);
  border: 1px solid var(--netural5);
  border-radius: 8px;
}

/* sizes */
.lg {
  height: 48px;
  min-width: 160px;
  padding: 0 28px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.md {
  height: 35px;
  padding: 0 12px;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
