@import '../../styles/utils.scss';

/* sections */
.container {
}
.textareaSection {
  display: flex;
  gap: 26px;
  margin-bottom: 32px;
}

.footer {
  text-align: center;
}

/* elements */
.textarea {
  width: 100%;
}
.inputsTextarea {
  display: block;

  /* Tablet Device */
  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}
.editedTextarea {
  &_web {
    display: block;
  }
  &_tablet {
    display: none;
  }

  /* Tablet Device */
  @media (max-width: $breakpoint-tablet) {
    &_web {
      display: none;
    }
    &_tablet {
      display: block;
    }
  }
}

.badges {
  display: flex;
  gap: 8px;
  margin-bottom: 14px;
  padding: 5px 12px;
}
.editedHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}
.editedTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  padding-left: 12px;
}
