@import '../../styles/utils.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--nav-height);
  padding: 0 27px;
  overflow: hidden;
  position: sticky;
  top: 0;
  background-color: var(--white);

  // TODO: 스크롤되면 border-bottom
  // border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  & .logoLink {
    display: flex;
    align-items: center;
  }
  & .logo {
    width: 28px;
    height: 28px;
  }
  & .logoText {
    height: 12px;
    padding-left: 10px;
  }
}
.question {
  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 100%;
  cursor: pointer;

  &:hover {
    background-color: var(--gray);
  }
}