.container {
  width: 100%;
  padding: 32px 27px 19px 27px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.footer {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--darkGray);
  text-align: center;
  margin-top: 30px;
}
