/* sections */
.titleSection {
  margin-bottom: 40px;
}
.inputSection {
  margin-bottom: 20px;
}

/* elements */
.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  color: var(--netural11);
  text-align: center;
}
.subTitle {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: var(--netural7);
  text-align: center;
}
