@import '../../styles/utils.scss';

/* sections */
.header {
  margin-bottom: 34px;
}
.body {
  margin-bottom: 26px;
}
.footer {
  text-align: center;
}

/* elements */
.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  color: var(--netural11);
  text-align: center;
}
.forms {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 14px;

  /* Mobile Device */
  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
  }
}
.selects {
  display: flex;
  gap: 14px;

  /* Mobile Device */
  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    width: 100%;
    margin-bottom: 14px;
  }
}
.select {
  /* Mobile Device */
  @media (max-width: $breakpoint-mobile) {
    width: 100%;
  }
}
.textarea {
  &_web {
    display: block;
  }
  &_mobile {
    display: none;
  }

  /* Mobile Device */
  @media (max-width: $breakpoint-mobile) {
    &_web {
      display: none;
    }
    &_mobile {
      display: block;
    }
  }
}
.words {
  color: var(--netural7);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  display: flex;
  align-items: center;

  &_error {
    color: var(--error);
  }
}
.errorIcon {
  margin-right: 4px;
}
.modal {
  display: flex;
  flex-direction: column;
}
.modalImage {
  text-align: center;
  margin-bottom: 10px;

  & img {
    width: 160px;
    height: 160px;
  }
}
.modalText {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--primaryText);
}
.modalButton {
  margin-top: 30px;
  text-align: center;
}
